input[type="submit"].vipps-hurtigkasse--button-style,
button.vipps-hurtigkasse--button-style {
  border: none;
  border-radius: 5px;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 0;
}

input[type="submit"].vipps-hurtigkasse--button-style--image_small,
button.vipps-hurtigkasse--button-style--image_small {
  width: 210px;
  height: 42px;
  background-image: url(210px.png);
}

input[type="submit"].vipps-hurtigkasse--button-style--image_medium,
button.vipps-hurtigkasse--button-style--image_medium {
  width: 410px;
  height: 84px;
  background-image: url(210px2x.png);
}

input[type="submit"].vipps-hurtigkasse--button-style--image_large,
button.vipps-hurtigkasse--button-style--image_large {
  width: 630px;
  height: 126px;
  background-image: url(210px3x.png);
}
